# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# macOS system files
.DS_Store

# PyCharm project files
.idea/

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy cache
.mypy_cache/

# Cache files
*.cache
*.pkl
*.pickle

# Other
*.swp